.error {
    color: red;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    margin-bottom: 10px;
  }
  /* CSS styles for the password reset form */
form {
  width: 300px;
  margin: 0 auto;
}
h1 {
  width: 300px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 5px;
}

input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

div {
  width: 300px;
  margin: 0 auto;
}
