<h1>Reset Password</h1>
    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required [(ngModel)]="newPassword"><br><br>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword"><br><br>
      <button type="submit">Reset Password</button>
    </form>
    <div *ngIf="message">{{ message }}</div>
